# This is a insurance risk prediction application
    (in progress)

In [49]:
%matplotlib inline 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import ipywidgets as widgets
from ipywidgets import interact, interact_manual, fixed
from IPython.display import display

insurance_dataframe = pd.read_csv("Car_Insurance_Claim.csv")
insurance_dataframe

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,323164,26-39,female,majority,10-19y,university,upper class,0.582787,1.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,1,0.0
9996,910346,26-39,female,majority,10-19y,none,middle class,0.522231,1.0,after 2015,0.0,1.0,32765,NaN,sedan,1,0,0,0.0
9997,468409,26-39,male,majority,0-9y,high school,middle class,0.470940,1.0,before 2015,0.0,1.0,10238,14000.0,sedan,0,0,0,0.0
9998,903459,26-39,female,majority,10-19y,high school,poverty,0.364185,0.0,before 2015,0.0,1.0,10238,13000.0,sedan,2,0,1,1.0
9999,442696,26-39,female,majority,0-9y,none,working class,0.435225,1.0,before 2015,1.0,1.0,10238,13000.0,sedan,0,0,0,0.0

# Clean up the data
Replace all the strings with numerical values

In [16]:
# Replace "female" with 0 and "male" with 1
insurance_dataframe["GENDER"].replace(to_replace="female", value=0, inplace=True)
insurance_dataframe["GENDER"].replace(to_replace="male", value=1, inplace=True)

# Replace ages
# 16-25 = 0
# 26-39 = 1
# 40-64 = 2
# 65+ = 3

insurance_dataframe["AGE"].replace(to_replace="16-25", value=0, inplace=True)
insurance_dataframe["AGE"].replace(to_replace="26-39", value=1, inplace=True)
insurance_dataframe["AGE"].replace(to_replace="40-64", value=2, inplace=True)
insurance_dataframe["AGE"].replace(to_replace="65+", value=3, inplace=True)

# Replace race
# majority = 0
# minority = 1

insurance_dataframe["RACE"].replace(to_replace="majority", value=0, inplace=True)
insurance_dataframe["RACE"].replace(to_replace="minority", value=1, inplace=True)

# Replace driving experience
# 0-9y = 0
# 10-19y = 1
# 20-29y = 2
# 30y+ = 3

insurance_dataframe["DRIVING_EXPERIENCE"].replace(to_replace="0-9y", value=0, inplace=True)
insurance_dataframe["DRIVING_EXPERIENCE"].replace(to_replace="10-19y", value=1, inplace=True)
insurance_dataframe["DRIVING_EXPERIENCE"].replace(to_replace="20-29y", value=2, inplace=True)
insurance_dataframe["DRIVING_EXPERIENCE"].replace(to_replace="30y+", value=3, inplace=True)

# Replace education
# none = 0
# high school = 1
# university = 2

insurance_dataframe["EDUCATION"].replace(to_replace="none", value=0, inplace=True)
insurance_dataframe["EDUCATION"].replace(to_replace="high school", value=1, inplace=True)
insurance_dataframe["EDUCATION"].replace(to_replace="university", value=2, inplace=True)

# Replace income
# poverty = 0
# working class = 1
# middle class = 2
# upper class = 3

insurance_dataframe["INCOME"].replace(to_replace="poverty", value=0, inplace=True)
insurance_dataframe["INCOME"].replace(to_replace="working class", value=1, inplace=True)
insurance_dataframe["INCOME"].replace(to_replace="middle class", value=2, inplace=True)
insurance_dataframe["INCOME"].replace(to_replace="upper class", value=3, inplace=True)

# Replace vehicle year
# before 2015 = 0
# after 2015 = 1

insurance_dataframe["VEHICLE_YEAR"].replace(to_replace="before 2015", value=0, inplace=True)
insurance_dataframe["VEHICLE_YEAR"].replace(to_replace="after 2015", value=1, inplace=True)

# Replace vehicle type
# sedan = 0
# sports car = 1

insurance_dataframe["VEHICLE_TYPE"].replace(to_replace="sedan", value=0, inplace=True)
insurance_dataframe["VEHICLE_TYPE"].replace(to_replace="sports car", value=1, inplace=True)

### Remove the columns that are irrelevant

In [17]:
# Drop the "RACE" column (not something we want to consider)
# Drop the "ID" column (not relevant to the analysis)
insurance_dataframe = insurance_dataframe.drop(columns=['RACE', 'ID'])

### Remove incomplete columns

In [18]:
# Drop all the rows with NaN values
insurance_dataframe.dropna(axis='rows', inplace=True)

In [33]:
insurance_dataframe.head()

,AGE,GENDER,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,3,0,0,1,3,0.629027,1.0,1,0.0,1.0,10238,12000.0,0,0,0,0,0.0
1,0,1,0,0,0,0.357757,0.0,0,0.0,0.0,10238,16000.0,0,0,0,0,1.0
2,0,0,0,1,1,0.493146,1.0,0,0.0,0.0,10238,11000.0,0,0,0,0,0.0
3,0,1,0,2,1,0.206013,1.0,0,0.0,1.0,32765,11000.0,0,0,0,0,0.0
4,1,1,1,0,1,0.388366,1.0,0,0.0,0.0,32765,12000.0,0,2,0,1,1.0

## Identify features and labels and build machine learning algorithm

In [34]:
# Create X (features matrix)
X = insurance_dataframe.drop("OUTCOME", axis=1)

# Create Y (labels)
Y = insurance_dataframe["OUTCOME"]

In [37]:
# 2. Choose the model and hyperparameters (dials on the model we can tune to make it better or worse)
# Using RandomForestClassifier

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier() #clf is short for classifier

# We'll keep the default hyperparameters
clf.get_params()

# The stuff printed below are our hyperparameters

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [38]:
# 3. Fit the model to the training data
# The code below splits your data from X and Y to X train/X test and Y train/Y test
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [39]:
# Use random forest to find the patterns in the training data'
clf.fit(X_train, Y_train)

RandomForestClassifier()

In [40]:
# Make a prediction
Y_preds = clf.predict(X_test)

In [41]:
Y_preds

array([0., 0., 1., ..., 0., 0., 1.])

In [42]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, Y_train)

1.0

In [43]:
# Evaluate the test data
clf.score(X_test, Y_test)

0.8349693251533742

In [44]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test, Y_preds))

              precision    recall  f1-score   support

         0.0       0.87      0.89      0.88      1112
         1.0       0.76      0.71      0.73       518

    accuracy                           0.83      1630
   macro avg       0.81      0.80      0.81      1630
weighted avg       0.83      0.83      0.83      1630

In [45]:
confusion_matrix(Y_test, Y_preds)

array([[995, 117],
       [152, 366]])

In [46]:
accuracy_score(Y_test, Y_preds)

0.8349693251533742

In [47]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, Y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 81.78%

Trying model with 20 estimators...
Model accuracy on test set: 82.58%

Trying model with 30 estimators...
Model accuracy on test set: 82.76%

Trying model with 40 estimators...
Model accuracy on test set: 83.37%

Trying model with 50 estimators...
Model accuracy on test set: 83.68%

Trying model with 60 estimators...
Model accuracy on test set: 83.50%

Trying model with 70 estimators...
Model accuracy on test set: 83.31%

Trying model with 80 estimators...
Model accuracy on test set: 82.70%

Trying model with 90 estimators...
Model accuracy on test set: 83.37%